{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <!-- DOCUMENT TITLE  -->
    <title>{% block title %}{% endblock %}</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="{% static 'OsamuApp/images/myLogoSmall.png' %}" sizes="58x85" />

    <!-- MATERIALIZE CSS  -->
    <link rel="stylesheet" href="{% static 'OsamuApp/styles/materialize.css' %}" />
    <link rel="stylesheet" href="{% static 'OsamuApp/styles/style.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap"
        rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static 'OsamuApp/styles/default.css' %}">
    <link rel="stylesheet" id="theme-style" href="">

</head>

<body>

    {% block content %}{% endblock %}

    <!-- MATERIALIZE Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'OsamuApp/scripts/materialize.js' %}"></script>
    <script src="{% static 'OsamuApp/scripts/init.js' %}"></script>

    <!-- LIBRARIES -->
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

    <!-- CUSTOM Scripts -->
    <script type="text/Javascript" src="{% static 'OsamuApp/scripts/themeScript.js' %}"></script>

</body>

</html>