{% extends 'homeApp/baseApp.html' %}
{% load static %}


{% block title %}
Osamu's Marketplace
{% endblock %}

{% block footerAPPcontent %}

<section class="s2">
<h3>on sale.</h3>


<div class="app-wrapper-long-left">
    <div class="left-column">
        <div class="carousel">
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/GalaxyA03s/1.jpg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/GalaxyA03s/2.jpeg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/GalaxyA03s/3.jpeg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/GalaxyA03s/4.jpeg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/GalaxyA03s/5.jpeg' %}"></a>
        </div>
    </div>
    <div class="right-column">
        <h4>Galaxy A03s</h4>
        <p>SM-A037M BLUE 64GB</p>
        <ul>
            <li>comprado en diciembre 2021, en Telcel</li>
            <li>usado 2 años</li>
            <li>en caja, sin cargador</li>
            <li><a target="_blank" href="https://www.amazon.com.mx/s?k=Galaxy+A03s">link a amazon.com.mx</a></li>
        </ul>
        <h5>$800.00 MXN</h5>
    </div>
</div>


<div class="app-wrapper-long-left">
    <div class="left-column">
        <div class="carousel">
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/ZTEBladeV50Smart/1.jpg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/ZTEBladeV50Smart/2.jpg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/ZTEBladeV50Smart/3.jpeg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/ZTEBladeV50Smart/4.jpeg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/ZTEBladeV50Smart/5.jpeg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/ZTEBladeV50Smart/6.jpeg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/ZTEBladeV50Smart/7.jpeg' %}"></a>
        </div>
    </div>
    <div class="right-column">
        <h4>ZTE Blade V50 Smart</h4>
        <p>ZTE 7060 GREEN 128GB</p>
        <ul>
            <li>comprado en diciembre 2023, en Telcel</li>
            <li>abierto, sin usar</li>
            <li><a target="_blank" href="https://www.amazon.com.mx/s?k=ZTE+Blade+V50+Smart">link a amazon.com.mx</a></li>
        </ul>
        <h5>$1,900.00 MXN</h5>
    </div>
</div>


<div class="app-wrapper-long-left">
    <div class="left-column">
        <div class="carousel">
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/Airpods2ndGen/1.jpg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/Airpods2ndGen/2.jpg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" style="height:150px;top:75px;" src="{% static 'marketplaceApp/images/Airpods2ndGen/3.jpg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" style="height:150px;top:75px;" src="{% static 'marketplaceApp/images/Airpods2ndGen/4.jpg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" style="height:150px;top:75px;" src="{% static 'marketplaceApp/images/Airpods2ndGen/5.jpg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" style="height:150px;top:75px;" src="{% static 'marketplaceApp/images/Airpods2ndGen/6.jpg' %}"></a>
        </div>
    </div>
    <div class="right-column">
        <h4>Airpods 2nd Gen</h4>
        <ul>
            <li>comprado en diciembre 2023</li>
            <li>nuevo, sin abrir</li>
            <li><a target="_blank" href="https://www.amazon.com.mx/s?k=Airpods+2nd+Gen">link a amazon.com.mx</a></li>
        </ul>
        <h5>$2,000.00 MXN</h5>
    </div>
</div>


<div class="app-wrapper-long-left">
    <div class="left-column">
        <div class="carousel">
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/NestMini2ndGen/1.jpg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/NestMini2ndGen/2.jpg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/NestMini2ndGen/3.jpg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" src="{% static 'marketplaceApp/images/NestMini2ndGen/4.jpg' %}"></a>
            <a class="carousel-item"><img class="materialboxed" style="height:150px;top:75px;" src="{% static 'marketplaceApp/images/NestMini2ndGen/5.jpg' %}"></a>
        </div>
    </div>
    <div class="right-column">
        <h4>Nest Mini 2nd Gen</h4>
        <ul>
            <li>adquirido en diciembre 2023</li>
            <li>nuevo, sin abrir</li>
            <li><a target="_blank" href="https://www.amazon.com.mx/s?k=Nest+Mini+2nd+Gen">link a amazon.com.mx</a></li>
        </ul>
        <h5>$750.00 MXN</h5>
    </div>
</div>


</section>




<section class="s1">
<h3>sold.</h3>





</section>

{% endblock %}

{% block staticAPPcontent %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'homeApp/scripts/materialize.js' %}"></script>
    <script src="{% static 'marketplaceApp/scripts/init.js' %}"></script>
{% endblock %}