{% extends 'homeApp/baseApp.html' %}
{% load static %}


{% block title %}
We will Return at ...
{% endblock %}


{% block leftColumnAPPcontent %}
    <p>Usually breaks are given in the middle of long meetings. This will count the time left before returning.</p>
    <p>Specify the return time and start the countdown.<i class="tiny material-icons">arrow_forward</i></p>
{% endblock %}


{% block rightColumnAPPcontent %}

{% endblock %}


{% block footerAPPcontent %}

{% endblock %}


{% block staticAPPcontent %}

{% endblock %}