{% extends 'homeApp/baseApp.html' %}
{% load static %}


{% block title %}
We will Return at ...
{% endblock %}


{% block leftColumnAPPcontent %}
<p>Breaks are given in the middle of long meetings. This will countdown the time left before returning.</p>
<h3 style="text-align:center;">Now is {{ now.month }} {{ now.day }}, {{ now.year }} {{ now.hour }}:{{ now.minute }}:{{ now.second }}.{{ now.microsecond }}</h3>
{% endblock %}


{% block rightColumnAPPcontent %}
<form id="generate-form">
    <div class="input-field">
        <input
        type="text"
        class="timepicker"
        placeholder="Set the deadline"
        id="deadline"
        name="deadline">
        <label for="deadline">Specify the return time to start the countdown.</label>
    </div>
</form>
{% endblock %}


{% block footerAPPcontent %}

{% endblock %}


{% block staticAPPcontent %}
<!-- CSS  -->
<link rel="stylesheet" type="text/css" href="{% static 'qrcodegeneratorApp/styles/styles.css' %}">
{% endblock %}